# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
_ios/Pirojok.xcodeproj/project.xcworkspace/contents.xcworkspacedata
_ios/Pirojok.xcodeproj/project.xcworkspace/xcshareddata/Pirojok.xccheckout
_ios/Pirojok.xcodeproj/project.xcworkspace/xcuserdata/slavabulgakov.xcuserdatad/UserInterfaceState.xcuserstate
_ios/Pirojok.xcodeproj/project.xcworkspace/xcuserdata/slavabulgakov.xcuserdatad/WorkspaceSettings.xcsettings
_ios/Pirojok.xcodeproj/xcuserdata/slavabulgakov.xcuserdatad/xcschemes/Pirojok.xcscheme
_ios/Pirojok.xcodeproj/xcuserdata/slavabulgakov.xcuserdatad/xcschemes/xcschememanagement.plist
